<% if user_signed_in? %>
  <% @items.each do |item| %>
      <div class="index_row clearfix">
        <h2 class="todo_list_title"><%= link_to item.title, item %></h2>
        <p class="todo_list_sub_title"><%= item.description %></p>
      </div>
  <% end %>

  <div class="links">
    <%= link_to "New ToDoList", new_item_path %>
  </div>

<% else %>
    <%= render 'static_landing_page' %>
<% end %>
